body {
	font: 12px/14px 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

ol, figure {
	list-style: none;
	margin: 0;
	padding: 0;
}

.photo {
display: block;
	float: left;
	overflow: hidden;
}

.photo figure {
	margin: 2px;
}

.photo figcaption {
	display: none;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	margin: 0;
	padding: 0;

	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}

#overlay.visible {
	display: block;
}

#overlay .full-size,
#overlay .background {
	position: absolute;
}

#overlay .background {
	filter: blur(40px);
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	display: none;
}

#overlay .full-size {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	left: 0;
	right: 0;
}

#overlay.vertical .background {
	left: 0;
	right: 0;
}

#overlay.horizontal .background {
	top: 0;
	bottom: 0;
}

#overlay figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	font-size: 16px;
	line-height: 32px;

	background: rgba(0, 0, 0, 0.6);
	color: white;
}

#overlay .prev-button,
#overlay .next-button {
	position: absolute;
	top: 0;
	width: 10%;
	height: 100%;
	border: none;
	background: transparent;
	color: white;
}

#overlay .next-button:hover,
#overlay .prev-button:hover {
	background: black;
}

#overlay .next-button {
	right: 0;
	text-align: right;
}

#overlay .prev-button {
	left: 0;
	text-align: left;
}
